@use "../../global/" as *;

.c-block {
  position: relative;

  &::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 200px;
    height: 30px;
    mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 430 40"><path d="M430 40L0 40L47.8771 4.74073e-06L430 3.43323e-05L430 40Z" /></svg>');
    mask-repeat: no-repeat;
    mask-size: cover;
    background-color: var(--base-color);

    @include mq(md) {
      width: 430px;
      height: 40px;
    }
  }
}
