<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta property="og:url" content="https://example.com" />
<meta property="og:title" content="Nekopon Games" />
<meta property="og:description" content="{{description}}" />
<meta property="og:image" content="http://127.0.0.1:8080/ogp.jpg" />
<meta property="og:type" content="website" />
<meta property="og:locale" content="ja_JP" />
<meta property="og:site_name" content="Nekopon Games" />
<meta name="twitter:card" content="summary" />
<title>Nekopon games</title>
<!-- Favicon -->
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Exo:wght@500;600;700&family=Noto+Sans+JP:wght@500;900&display=swap"
  rel="stylesheet"
/>
<!-- My Files -->
<link rel="stylesheet" href="/assets/scss/style.scss" />
<script src="/assets/js/main.js" defer type="module"></script>
