@use "../../global/" as *;

.p-globalNav__list {
  display: flex;
  align-items: center;
  column-gap: 20px;

  @include mq(md) {
    column-gap: 30px;
  }
}

.p-globalNav__item {
  &.-cta {
    display: none;

    @include mq(md) {
      display: block;
    }

    .c-button.-primary {
      min-width: 164px;
      padding: rem(8) 1rem;
    }
  }
}

.p-globalNav__link {
  position: relative;
  padding-bottom: rem(4);
  color: var(--main-color);
  font-size: rem(13);
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  @include mq(md) {
    font-size: rem(16);
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: right bottom;
    transition: transform 0.3s ease;
    background-color: currentcolor;
  }

  @include hover {
    &::after {
      transform: scaleX(1);
      transform-origin: left bottom;
    }
  }
}

.p-globalNav__sound {
  position: absolute;
  right: calc(var(--content-px) * 1px);
  bottom: 0;
  translate: 0 100%;
  line-height: 1;

  @include mq(md) {
    translate: 0 50%;
  }
}
